.dwarfMain {
  background-repeat: no-repeat;
  background-size: 12%;
  font-family: "Carbon Regular";
}
.side {
  /* border: 1px;
  border-color: red;
  border-style: solid; */
  width: 40vw;
}

.equipment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: #53462d; */
  /* border-radius: 10px; */
}
