html {
  background-color: black;
}
.unselected {
  filter: brightness(50%);
}
/* @font-face {
  font-family: "Danger Flight";
  src: url("../DRG_Fonts/danger_flight/dangerflight.ttf");
} */

@font-face {
  font-family: "Danger Flight";
  src: url("../DRG_Fonts/danger_flight/dangerflight3d.ttf");
}

@font-face {
  font-family: "Carbon Regular";
  src: url("../DRG_Fonts/CarbonRegular_W00_Regular.ttf");
}

h1 {
  font-family: "Danger Flight";

  color: #fe4200;
  text-align: center;
  font-size: 50px;
}
h1 span {
  /* background-color: #fff900; */
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dwarfIcons img {
  height: auto;
  width: 65px;
}

button {
  background-color: black;
}
