html {
  /* background-color: black; */
  background-image: url("images/darker.png");
  background-size: auto;
  background-repeat: no-repeat;
}
.selected.driller {
  filter: drop-shadow(0px 0px 20px #fdfa00);
}
.selected.scout {
  filter: drop-shadow(0px 0px 20px #1b5ffd);
}
.selected.engineer {
  filter: drop-shadow(0px 0px 20px #ff0000);
}
.selected.gunner {
  filter: drop-shadow(0px 0px 20px #6efc4e);
}
.unselected {
  filter: brightness(50%);
}
/* @font-face {
  font-family: "Danger Flight";
  src: url("../DRG_Fonts/danger_flight/dangerflight.ttf");
} */

@font-face {
  font-family: "Danger Flight";
  src: url("../DRG_Fonts/danger_flight/dangerflight3d.ttf");
}

@font-face {
  font-family: "Carbon Regular";
  src: url("../DRG_Fonts/CarbonRegular_W00_Regular.ttf");
}

h1 {
  font-family: "Danger Flight";
  text-align: center;
  font-size: 50px;
}
h1 span {
  animation: neon 3s infinite;

  filter: drop-shadow(0px, 0px, 5px, #fff900);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dwarfIcons {
  display: flex;
  gap: 1vw;
}
.dwarfIcons img {
  height: auto;
  width: 60px;
}

button {
  background-color: black;
  font-family: "Carbon Regular";
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  border-color: #111;
  color: white;
  background: linear-gradient(180deg, #555 0%, #222 49%, #000 51%, #222 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5),
    0px 1px 3px rgba(0, 0, 0, 0.3);
}

.footer {
  position: absolute;
  /* bottom: 0; */
}
